<h1>新規投稿ページ</h1>
<%# <form action="/main" method="post">
  <input type="text" name="content">
  <input type="submit" value="投稿する">
</form> %>
<%# ↓↓↓↓↓↓↓↓↓↓ %>
<%= form_with url:"/posts", method: :post, local: true do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '投稿する' %>
<% end %>